
<div class="product-big-title-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-bit-title text-center">
					<h2>Carrinho Vazio</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="single-product-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-content-right">
					
						<div id="customer_details" class="col2-set">
							<div class="row">
								<div class="col-md-12">

								
									<div class="alert alert-danger">
										Seu carrinho não possui itens, 

										<button type="button">
											<a href="/">acesse a loja</a>
										</button>
											
												
											
									

									</div>
									

						
								</div>
							</div>
						</div>
				
				</div>
			</div>
		</div>
	</div>
</div>